# IDE & System Related Files #
.buildpath
.editorconfig
.project
.settings
.DS_Store
.idea
.vscode

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/administrator/logs
/cache
/installation/cache
/tmp
/configuration.php
/.htaccess
/web.config
/.php_cs.cache

# Test Related Files #
/phpunit.xml

# Node modules #
node_modules/

# phpDocumentor Logs #
phpdoc-*

# Patch Tester #
/administrator/components/com_patchtester
/administrator/templates/hathor/html/com_patchtester
/components/com_patchtester
/media/com_patchtester

# Install from Web plugin #
/plugins/installer/webinstaller

# Languages #
administrator/manifests/packages/*
!administrator/manifests/packages/pkg_en-GB.xml
!language/overrides/index.html

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Never ignore #
# Only apply this rule to the main repository's gitignore files
!/.gitignore
!/build/.gitignore

# Extra files installed by Composer not needed in the CMS environment
# This should only ignore files like unit testing or READMEs, production
# code must remain to ensure all libraries properly function
/libraries/vendor/ircmaxell/password-compat/test
/libraries/vendor/ircmaxell/password-compat/.travis.yml
/libraries/vendor/ircmaxell/password-compat/phpunit.xml.dist
/libraries/vendor/ircmaxell/password-compat/README.md
/libraries/vendor/joomla/*/.github
/libraries/vendor/joomla/*/vendor
/libraries/vendor/joomla/session/Joomla/Session/.github
/libraries/vendor/joomla/session/Joomla/Session/build
/libraries/vendor/paragonie/random_compat/.gitignore
/libraries/vendor/paragonie/random_compat/.scrutinizer.yml
/libraries/vendor/paragonie/random_compat/.travis.yml
/libraries/vendor/paragonie/random_compat/RATIONALE.md
/libraries/vendor/paragonie/random_compat/build-phar.sh
/libraries/vendor/paragonie/random_compat/psalm-autoload.php
/libraries/vendor/paragonie/random_compat/psalm.xml
/libraries/vendor/paragonie/random_compat/tests

/tests/test_data/j370/bwpm-env.properties
/tests/test_data/j370_bwpm200/bwpm-env.properties
/tests/test_data/j370_bwpm200_vm321/bwpm-env.properties
/tests/test_data/j370_vm321/bwpm-env.properties
!/build/
/plugins/vendor/
/libraries/
/backup/
/containers/lab/
/test.php
/tests/_data/mod_bwpostman.zip
/tests/tests/README.md
/plugins/composer.json
/plugins/composer.lock
/tests/_data/mod_bwpostman_overview.zip
/tests/_data/pkg_bwpostman.zip
/tests/_data/plg_bwpostman_bwpm_buyer2subscriber.zip
/tests/_data/plg_bwpostman_personalize.zip
/tests/_data/plg_bwpostman_bwpm_user2subscriber.zip
/tests/_output/
/tests/codeception/
/tests/javascript/
/tests/index.php
/tests/CHANGELOG
/tests/README.md
/tests/unit/
/tests/system/
/vendor/
/build/BwAttachments/
/build/BwStats/
/build/BwTemplate/
/build/logs/
/build/mod_cookiesaccept_build.xml
