!/.gitignore

#/tests/codeception/
#/tests/index.php
/#tests/CHANGELOG
#/tests/README.md
#/tests/unit/
#/tests/system/
#/vendor/
#/codeception.yml
#/tests/_data/sav/
#/tests/test_data/
#!/tests/test_data/bwpm-env.tpl.properties
#/tests/acceptance.suite.yml
#/containers/
#/.idea
