<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="com_bwpostman_main_settings" label="COM_BWPOSTMAN_SETTINGS" description="COM_BWPOSTMAN_SETTINGS_DESCRIPTION" addfieldprefix="Joomla\Component\Content\Administrator\Field" addfieldpath="/administrator/components/com_content/models/fields">
		<field name="default_from_name"
			type="text" size="50" default=""
			label="COM_BWPOSTMAN_DEFAULT_FROM_NAME"
			description="COM_BWPOSTMAN_DEFAULT_FROM_NAME_NOTE"
		/>

		<field name="default_from_email"
			type="email"
			size="50"
			default=""
			label="COM_BWPOSTMAN_DEFAULT_FROM_EMAIL"
			description="COM_BWPOSTMAN_DEFAULT_FROM_EMAIL_NOTE"
		/>

		<field name="default_reply_email"
			type="email"
			size="50"
			default=""
			label="COM_BWPOSTMAN_DEFAULT_REPLY_EMAIL"
			description="COM_BWPOSTMAN_DEFAULT_REPLY_EMAIL_NOTE"
		/>

		<field name="spacer1_1" type="spacer" hr="true" />

		<field name="legal_information_text"
			type="textarea"
			cols="50"
			rows="10"
			default=""
			label="COM_BWPOSTMAN_LEGAL_INFORMATION_TEXT"
			description="COM_BWPOSTMAN_LEGAL_INFORMATION_TEXT_NOTE"
		/>

		<field name="spacer1_2" type="spacer" hr="true" />

		<field name="excluded_categories"
			type="category"
			extension="com_content"
			multiple="true"
			default=""
			label="COM_BWPOSTMAN_EXCLUDED_CATEGORIES"
			description="COM_BWPOSTMAN_EXCLUDED_CATEGORIES_NOTE"
		/>

		<field name="spacer1_3" type="spacer" hr="true" />

		<field name="default_mails_per_pageload"
			type="text"
			size="6"
			default="100"
			label="COM_BWPOSTMAN_DEFAULT_MAILS_PER_PAGELOAD"
			description="COM_BWPOSTMAN_DEFAULT_MAILS_PER_PAGELOAD_NOTE"
		/>

		<field name="mails_per_pageload_delay"
			type="text"
			filter="integer"
			size="6"
			default="1"
			label="COM_BWPOSTMAN_MAILS_PER_PAGELOAD_DELAY"
			description="COM_BWPOSTMAN_MAILS_PER_PAGELOAD_DELAY_NOTE"
		/>

		<field name="mails_per_pageload_delay_unit"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1000"
			label="COM_BWPOSTMAN_MAILS_PER_PAGELOAD_DELAY_UNIT"
			description="COM_BWPOSTMAN_MAILS_PER_PAGELOAD_DELAY_UNIT_NOTE"
		>
			<option value="60000">BW_MINUTES</option>
			<option value="1000">BW_SECONDS</option>
		</field>

		<field name="spacer1_4" type="spacer" hr="true" />

		<field name="publish_nl_by_default"
		       type="radio"
		       class="btn-group btn-group-yesno"
		       default="0"
		       label="COM_BWPOSTMAN_PUBLISH_NL_BY_DEFAULT"
		       description="COM_BWPOSTMAN_PUBLISH_NL_BY_DEFAULT_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer1_5" type="spacer" hr="true" />

		<field name="compress_backup"
		       type="radio"
		       class="btn-group btn-group-yesno"
		       default="1"
		       label="COM_BWPOSTMAN_COMPRESS_BACKUP_FILE"
		       description="COM_BWPOSTMAN_COMPRESS_BACKUP_FILE_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer1_6" type="spacer" hr="true" />

		<field name="show_boldt_link"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_BWPOSTMAN_SHOW_BOLDT_LINK"
			description="COM_BWPOSTMAN_SHOW_BOLDT_LINK_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="loglevel" type="list"
		       default="ERROR"
		       description="COM_BWPOSTMAN_LOGLEVEL_DESC"
		       label="COM_BWPOSTMAN_LOGLEVEL_LABEL"
		>
			<option value="BW_ERROR">COM_BWPOSTMAN_LOGLEVEL_ERROR</option>
			<option value="BW_WARNING">COM_BWPOSTMAN_LOGLEVEL_WARNING</option>
			<option value="BW_INFO">COM_BWPOSTMAN_LOGLEVEL_INFO</option>
			<option value="BW_DEBUG">COM_BWPOSTMAN_LOGLEVEL_DEBUG</option>
			<option value="BW_DEVELOPMENT">COM_BWPOSTMAN_LOGLEVEL_DEVELOPMENT</option>
		</field>
	</fieldset>

	<fieldset name="com_bwpostman_registration_settings" label="COM_BWPOSTMAN_REG_SETTINGS" description="COM_BWPOSTMAN_REG_SETTINGS_DESCRIPTION" addfieldpath="/administrator/components/com_bwpostman/models/fields">
		<field name="customscript"
		       type="customscript"
		/>
		<field name="pretext"
			type="textarea"
			cols="50"
			rows="10"
			default=""
			label="COM_BWPOSTMAN_PRETEXT"
			description="COM_BWPOSTMAN_PRETEXT_NOTE"
		/>

		<field name="spacer2_1" type="spacer" hr="true" />

		<field name="show_gender"
		       type="radio"
		       class="btn-group btn-group-yesno"
		       default="0"
		       label="COM_BWPOSTMAN_SHOW_GENDER"
		       description="COM_BWPOSTMAN_SHOW_GENDER_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_2" type="spacer" hr="true" />

		<field name="show_firstname_field"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="1"
		       label="COM_BWPOSTMAN_SHOW_FIRSTNAME_FIELD"
		       description="COM_BWPOSTMAN_SHOW_FIRSTNAME_FIELD_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="firstname_field_obligation"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="1"
		       label="COM_BWPOSTMAN_FIRSTNAME_FIELD_OBLIGATION"
		       description="COM_BWPOSTMAN_FIRSTNAME_FIELD_OBLIGATION_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_3" type="spacer" hr="true" />

		<field name="show_name_field"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="1"
		       label="COM_BWPOSTMAN_SHOW_NAME_FIELD"
		       description="COM_BWPOSTMAN_SHOW_NAME_FIELD_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="name_field_obligation"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="1"
		       label="COM_BWPOSTMAN_NAME_FIELD_OBLIGATION"
		       description="COM_BWPOSTMAN_NAME_FIELD_OBLIGATION_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_4" type="spacer" hr="true" />

		<field name="show_special"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="0"
		       label="COM_BWPOSTMAN_SHOW_SPECIAL"
		       description="COM_BWPOSTMAN_SHOW_SPECIAL_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="special_field_obligation"
		       type="radio"
		       class="btn-group btn-group-yesno bwpcheck"
		       default="0"
		       label="COM_BWPOSTMAN_SPECIAL_FIELD_OBLIGATION"
		       description="COM_BWPOSTMAN_SPECIAL_FIELD_OBLIGATION_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="special_label"
		       size="50"
		       type="text"
		       default=""
		       label="COM_BWPOSTMAN_SPECIAL_FIELD_LABEL"
		       description="COM_BWPOSTMAN_SPECIAL_FIELD_LABEL_NOTE"
		/>

		<field name="special_desc"
		       size="250"
		       type="text"
		       default=""
		       label="COM_BWPOSTMAN_SPECIAL_FIELD_LABEL_DESC"
		       description="COM_BWPOSTMAN_SPECIAL_FIELD_LABEL_DESC_NOTE"
		/>

		<field name="spacer2_3" type="spacer" hr="true" />

		<field name="show_emailformat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_BWPOSTMAN_SHOW_EMAILFORMAT"
			description="COM_BWPOSTMAN_SHOW_EMAILFORMAT_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="default_emailformat"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_BWPOSTMAN_DEFAULT_EMAILFORMAT"
			description="COM_BWPOSTMAN_DEFAULT_EMAILFORMAT_NOTE"
		>
			<option value="0">COM_BWPOSTMAN_TEXT</option>
			<option value="1">COM_BWPOSTMAN_HTML</option>
		</field>

		<field name="verify_mailaddress"
		       type="radio"
		       class="btn-group btn-group-yesno"
		       default="0"
		       label="COM_BWPOSTMAN_VERIFY_EMAILADDRESS"
		       description="COM_BWPOSTMAN_VERIFY_EMAILADDRESS_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_5" type="spacer" hr="true" />

		<field name="show_desc" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_BWPOSTMAN_SHOW_DESC" description="COM_BWPOSTMAN_SHOW_DESC_NOTE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="desc_length" type="text" default="150" label="COM_BWPOSTMAN_DESC_LENGTH" description="COM_BWPOSTMAN_DESC_LENGTH_NOTE" />

		<field name="spacer2_4" type="spacer" hr="true" />

		<field name="disclaimer"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_ENABLE_DISCLAIMER"
			description="COM_BWPOSTMAN_ENABLE_DISCLAIMER_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_6" type="spacer" hr="true" />
		<field name="spacer2_7" type="spacer" label="COM_BWPOSTMAN_DISCLAIMER_LABEL" />

		<field name="disclaimer_selection"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_DISCLAIMER_SELECTION"
			description="COM_BWPOSTMAN_DISCLAIMER_SELECTION_NOTE"
		>
			<option value="0">COM_BWPOSTMAN_DISCLAIMER_URL</option>
			<option value="1">COM_BWPOSTMAN_DISCLAIMER_ARTICLE</option>
			<option value="2">COM_BWPOSTMAN_DISCLAIMER_MENUITEM</option>
		</field>

		<field name="disclaimer_link"
			size="50"
			type="text"
			default="https://www.disclaimer.de/disclaimer.htm"
			label="COM_BWPOSTMAN_LINK_TO_DISCLAIMER"
			description="COM_BWPOSTMAN_LINK_TO_DISCLAIMER_NOTE"
		/>

		<field name="article_id"
			type="modal_article"
			default=""
			label="COM_BWPOSTMAN_DISCLAIMER_ARTICLE"
			description="COM_BWPOSTMAN_DISCLAIMER_ARTICLE_NOTE"
		/>

		<field name="disclaimer_menuitem"
			type="menuitem"
			default=""
			label="COM_BWPOSTMAN_DISCLAIMER_MENUITEM"
			description="COM_BWPOSTMAN_DISCLAIMER_MENUITEM_NOTE"
		>
			<option value="">JSELECT</option>
		</field>

		<field name="disclaimer_target"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_DISCLAIMER_TARGET"
			description="COM_BWPOSTMAN_DISCLAIMER_TARGET_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="showinmodal"
		       type="radio"
		       class="btn-group btn-group-yesno"
		       default="1"
		       label="COM_BWPOSTMAN_DISCLAIMER_SHOWINMODAL"
		       description="COM_BWPOSTMAN_DISCLAIMER_SHOWINMODAL_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer2_8" type="spacer" hr="true" />

		<field name="use_captcha"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_ENABLE_SECURITY"
			description="COM_BWPOSTMAN_ENABLE_SECURITY_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">COM_BWPOSTMAN_QUESTION</option>
			<option value="2">COM_BWPOSTMAN_CAPTCHA</option>
		</field>
		<field name="security_question"
			size="50"
			type="text"
			default="Wieviele Beine hat ein Pferd? (1, 2, ...)"
			label="COM_BWPOSTMAN_SECURITY_QUESTION"
			description="COM_BWPOSTMAN_SECURITY_QUESTION_NOTE"
		/>

		<field name="security_answer"
			size="50"
			type="text"
			default="4"
			label="COM_BWPOSTMAN_SECURITY_ANSWER"
			description="COM_BWPOSTMAN_SECURITY_ANSWER_NOTE"
		/>
	</fieldset>

	<fieldset name="com_bwpostman_activation_settings" label="COM_BWPOSTMAN_ACT_SETTINGS" description="COM_BWPOSTMAN_ACT_SETTINGS_DESCRIPTION">
		<field name="activation_salutation_text"
			type="text"
			size="50"
			default="" label="COM_BWPOSTMAN_ACTIVATION_SALUTATION_TEXT"
			description="COM_BWPOSTMAN_ACTIVATION_SALUTATION_TEXT_NOTE"
		/>

		<field name="activation_text"
			type="textarea"
			cols="50"
			rows="10"
			default=""
			label="COM_BWPOSTMAN_ACTIVATION_TEXT"
			description="COM_BWPOSTMAN_ACTIVATION_TEXT_NOTE"
		/>

		<field name="spacer3_1" type="spacer" hr="true" />

		<field name="permission_text"
			type="textarea"
			cols="50"
			rows="10"
			default=""
			label="COM_BWPOSTMAN_PERMISSION_TEXT"
			description="COM_BWPOSTMAN_PERMISSION_TEXT_NOTE"
		/>

		<field name="spacer3_2" type="spacer" hr="true" />

		<field name="activation_to_webmaster"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_ENABLE_ACTIVATION_COPY"
			description="COM_BWPOSTMAN_ENABLE_ACTIVATION_COPY_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="activation_from_name"
			type="text"
			size="50"
			default=""
			label="COM_BWPOSTMAN_ACTIVATION_FROM_NAME"
			description="COM_BWPOSTMAN_ACTIVATION_FROM_NAME_NOTE"
		/>

		<field name="activation_to_webmaster_email"
			size="50"
			type="email"
			default=""
			label="COM_BWPOSTMAN_ACTIVATION_TO_EMAIL"
			description="COM_BWPOSTMAN_ACTIVATION_TO_EMAIL_NOTE"
		/>
	</fieldset>

	<fieldset name="com_bwpostman_deactivation_settings" label="COM_BWPOSTMAN_DEREG_SETTINGS" description="COM_BWPOSTMAN_DEREG_SETTINGS_DESCRIPTION">
		<field name="del_sub_1_click"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_DELETE_SUBSCRIPTION"
			description="COM_BWPOSTMAN_DELETE_SUBSCRIPTION_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="spacer4_1" type="spacer" hr="true" />

		<field name="deactivation_to_webmaster"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_BWPOSTMAN_ENABLE_DEACTIVATION_COPY"
			description="COM_BWPOSTMAN_ENABLE_DEACTIVATION_COPY_NOTE"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="deactivation_from_name"
			type="text"
			size="50"
			default=""
			label="COM_BWPOSTMAN_DEACTIVATION_FROM_NAME"
			description="COM_BWPOSTMAN_DEACTIVATION_FROM_NAME_NOTE"
		/>

		<field name="deactivation_to_webmaster_email"
			size="50"
			type="email"
			default=""
			label="COM_BWPOSTMAN_DEACTIVATION_TO_EMAIL"
			description="COM_BWPOSTMAN_DEACTIVATION_TO_EMAIL_NOTE"
		/>
	</fieldset>

	<fieldset name="com_bwpostman_lists_settings" label="COM_BWPOSTMAN_LISTS_SETTINGS" description="COM_BWPOSTMAN_LISTS_SETTINGS_DESCRIPTION">
		<field
			name="filter_field"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_LISTS_SETTINGS_SEARCH_FIELD_DESC"
			label="COM_BWPOSTMAN_LISTS_SETTINGS_SEARCH_FIELD_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field name="date_filter_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_SHOW_DATE_FILTER_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_SHOW_DATE_FILTER_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field name="ml_filter_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_SHOW_ML_FILTER_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_SHOW_ML_FILTER_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field name="cam_filter_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_SHOW_CAM_FILTER_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_SHOW_CAM_FILTER_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field name="group_filter_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_SHOW_GROUP_FILTER_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_SHOW_GROUP_FILTER_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field
			name="attachment_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_ATTACHMENT_ENABLE_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_ATTACHMENT_ENABLE_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field
			name="access-check"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_LISTS_SETTINGS_ACCESS_CHECK_FIELD_DESC"
			label="COM_BWPOSTMAN_LISTS_SETTINGS_ACCESS_CHECK_FIELD_LABEL"
		>
			<option value="1">JYES</option>
			<option value="no">JNO</option>
		</field>

		<field name="display_num" type="list"
			default="10"
			description="COM_BWPOSTMAN_NEWSLETTER_NUMBER_ITEMS_LIST_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_NUMBER_ITEMS_LIST_LABEL"
		>
			<option value="5">J5</option>
			<option value="10">J10</option>
			<option value="15">J15</option>
			<option value="20">J20</option>
			<option value="25">J25</option>
			<option value="30">J30</option>
			<option value="50">J50</option>
			<option value="100">J100</option>
			<option value="0">JALL</option>
		</field>
<!--
		<field name="orderby_sec" type="list"
			default="rdate"
			description="COM_BWPOSTMAN_NEWSLETTER_ORDER_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_ORDER_LABEL"
		>
			<option value="rdate">JGLOBAL_MOST_RECENT_FIRST</option>
			<option value="date">JGLOBAL_OLDEST_FIRST</option>
			<option value="alpha">COM_BWPOSTMAN_NL_SUBJECT_ALPHABETICAL</option>
			<option value="ralpha">COM_BWPOSTMAN_NL_SUBJECT_REVERSE_ALPHABETICAL</option>
			<option value="author">JGLOBAL_AUTHOR_ALPHABETICAL</option>
			<option value="rauthor">JGLOBAL_AUTHOR_REVERSE_ALPHABETICAL</option>
			<option value="hits">JGLOBAL_MOST_HITS</option>
			<option value="rhits">JGLOBAL_LEAST_HITS</option>
		</field>
 -->
	</fieldset>

	<fieldset name="com_bwpostman_details_settings" label="COM_BWPOSTMAN_DETAILS_SETTINGS" description="COM_BWPOSTMAN_DETAILS_SETTINGS_DESCRIPTION">
		<field
			name="attachment_single_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_ATTACHMENT_SINGLE_ENABLE_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_ATTACHMENT_ENABLE_LABEL"
		>
			<option value="1">JSHOW</option>
			<option value="hide">JHIDE</option>
		</field>

		<field
			name="subject_as_title"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="COM_BWPOSTMAN_NEWSLETTER_SUBJECT_AS_TITLE_DESC"
			label="COM_BWPOSTMAN_NEWSLETTER_SUBJECT_AS_TITLE_LABEL"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_bwpostman"
			section="component" />
	</fieldset>
</config>
