body {
	background-image: url("header_outer.jpg");
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-size: auto;
	background-color: #eee;
	padding: 50px 30px 6px 30px;
	max-width: 1400px;
	margin: 0 auto;
}

header {
	border-radius: 10px 10px 0 0;
	background-color: #fff440;
	padding: 5px 0 0 0;
	text-align: center;
}

.divider {
	background-color: #548069;
	height: 5px;
}

.main-content {
	background: url("verlauf_gelb_2.png");
	background-position: 0 0;
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	min-height: 300px;
	padding: 10px;
}

h1 {
	color: #548069;
	margin: 0;
	text-align: center;
	padding-top: 15px;
}
